.App,
.codedBy,
.timestamp,
h2 {
  text-align: center;
  font-family: sans-serif;
  color: rgb(161, 255, 255);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

li {
  list-style: none;
  text-transform: capitalize;
}

.Wrapper {
  border-radius: 5px;
  border: grey solid 1px;
  background-color: rgba(40, 34, 73, 0.767);
  box-shadow: 5px 5px rgba(211, 211, 211, 0.24);
}
